openapi: 3.1.0
info:
  title: NeosVR API
  description: |
    Documentation for NeosVR's API

    --------
    >
    > This is an **UNOFFICIAL** Community Run resource to help fellow developers interact with the NeosVR Api.
    >
    > If you find this resource helpful consider [Supporting us on Patreon](https://www.patreon.com/PolyLogiX_VR) to help with Hosting this Service and our other open source projects!
    >
    --------

    # OpenAPI Specification
    This API is documented in **OpenAPI format**.

    # Cross-Origin Resource Sharing
    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with  [W3C spec](https://www.w3.org/TR/cors/).
    And that __Denies__ cross-domain communication from browsers.

    # Rate Limiting

    *Most* endpoints are Rate Limited. Exceeding rate limits will result in a `429 - Too Many Requests` response code.

    All rated endpoints have the following headers to denote various info about it's limits:

    | Header | Type | Example | Description |
    | ------ | ------ | ------ | ------ |
    | X-Rate-Limit-Limit | `String` | 1m | How long the Rate limit lasts in Human Readable format. |
    | X-Rate-Limit-Remaining | `Integer` | 10 | Amount of calls remaining before the server starts responding with code `429`. |
    | X-Rate-Limit-Reset | `String <Date-Time>` | 2021-10-26T04:01:32.0523331Z | DateTime when `X-Rate-Limit-Remaining` Resets. |

    If the quota is Exceeded `429 - Too Many Requests` will be received with info on when you can attempt to call the api again.

    | Header | Type | Example | Description |
    | ------ | ------ | ------ | ------ |
    | Retry-After | `Integer` | 16 | Indicates how many seconds to wait before making a follow-up request |

  version: '2.0'
  contact:
    name: Support and Contributing
    url: 'https://github.com/PolyLogiX-Studio/NeosVR-API/'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: 'https://api.neos.com'
components:
  securitySchemes:
    neosAuth:
      $ref: ./components/securitySchemes/neosAuth.yaml
security:
  - neosAuth: []
tags:
  - name: Login
    description: |
      Most endpoints require [Authentication](#section/Authentication) to access data. Thankfully logging in is fairly straightforward.
  - name: User Status
    description: Operations on the User Session
  - name: Password Reset
    description: Operations on the User Session
  - name: API Libraries
    description: API Libraries created by the Community
x-tagGroups:
  - name: General
    tags:
      - Login
      - User Status
      - Password Reset
  - name: API Libraries
    tags:
      - API Libraries
paths:
  '/api/users/{UserId}/status':
    $ref: 'paths/api@users@{UserId}@status.yaml'
  '/api/userSessions':
    $ref: 'paths/api@userSessions.yaml'
